<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dragons.carmenddragonsinventory">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CarmenD.Dragons Inventory"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".The_Main_Activity"
            android:label="CarmenD.Dragons Inventory"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InventoryDisplayActivity" />
        <activity android:name=".Add_Item" />
        <activity android:name=".Sales_History" />
        <activity android:name=".Income_Statement" />
        <activity android:name=".Need_More_Inventory"></activity>
        <activity android:name=".Sale_Entry_activity"></activity>
    </application>

</manifest>